@font-face {
  font-family: 'fonteH4' ;
  src: url("../fonts/quanton.otf");
}

/* ----------------------- CORPO DO SITE ----------------*/
.dica{
  display: block;
  max-width: 500px;
  font-family: 'fonteH4';
  margin-bottom: 1rem;
}
.dica h2{
  font-weight: bolder; font-size: x-large;
  color: rgb(19, 40, 21);
}
.dica p{
  position: relative;
  margin: 0 auto;
  line-height: 1.2;
  font-weight: 600;
  font-size: large;
  width: 90%;
  color: rgb(9, 23, 10) 
}
main{
  margin: 2rem auto;
  display: grid;
  align-items: center;
  justify-content: center;
  width: 98%;
}
#zoiudo{
  width: 100%;
  transform: scale(1);
  justify-content: center;
  align-items: center;
}
#zoiudo:hover{
  cursor: pointer;
  transition: all 500ms;
  transform: scale(2);
}
.voltar{
  transition: 1500ms;
  transform: scale(1);
}
@media (max-width: 500px){
  .dica{
    max-width: 400px;
  }
}